
<!DOCTYPE html>
<html>

<head>
    
    <title> PREDICTING WRITING SCORE </title>

    
     
</head>

<body bgcolor="LightSalmon" text="Black" align="center">
    
        <div class="login">
        <h1 class="text centre"> PREDCTING THE WRITING SCORE </h1>

    <form action="{{url_for('predict')}}" method="post">

    <input type="text" name="math score" placeholder="Math Score" required="required" />
    <input type="text" name="reading score" placeholder="Reading Score" required="required" />


    <button type="submit"class="btn btn-primary btn-block btn-large"> <Font color = "DarkBlue"> <b>PREDICT</b> </Font> </button>
    
    </form>    
    <br>
    <br>
    <b> {{ prediction_text }} </b>

    </div>
    
</body>
</html>
